.articles {
    padding-top: 94px;
    padding-bottom: 94px;


    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-weight: 700;

        @include tablet {
            // display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // max-width: 354px;
            
        }
        @include desktop {
            // display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            // max-width: 270px;
        }


        &-middle{
            display: flex;
            justify-content: center;

            @include tablet{

                justify-content: flex-start;
            }
            @include desktop{
                justify-content: flex-start;
            }
        }

        &-center{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            max-width: 450px;
            @include tablet{
                width: 354px;
            }
            @include desktop{
                width: 270px;
            }

        }
    }
    
    &__list-text {
         color: $link-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin: 0;
        padding: 0;
        max-width: 450px;
    }

    

    &__grafic {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F4FA;
        height: 120px;
        // max-width: 450px;

        @include tablet{
            width: 354px;
        }
        @include desktop{
            width: 270px;
        }
    }

}