.list__clients {
    display: none;

    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    fill: $svg-color;

    &-brand {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-brand:focus,
    &-brand:hover {
        fill: $button-color;
        color: $button-color;
        cursor: pointer;
        border: 1px solid $button-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-image:hover {
        fill: $button-color;
        cursor: pointer;

    }
}