.header{

    border: 1px solid #ECECEC;
    padding: 10px 0;
    @include tablet{
        padding: 21px 0;
    }
    @include tablet{
       padding: 24px 0 25px; 
    }
    
    

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 0;
            // height: 80px;
            // background-color: #fff;
            // gap: 93px
    }

    // &__flex {
    //     // @extend .header__box;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     list-style-type: none;
    //     height: 80px;
    //     background-color: #fff;
    //     gap: 93px
    // }

    &__navigation{
        display: none;

    @include tablet{
        display: flex;
        margin-left: 83px;
        margin-right: auto;
    }
    @include desktop{
        margin-left: 93px;
    }



        &__list {
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            align-items: baseline;
            border-radius: 4px;
            gap: 46px;
            padding: 0;
            margin: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
        }

    }

    
    &__contacts {
        display: none;
        @include tablet {
            display: flex;
            flex-direction: column;
        }

        &__list {
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            align-items: baseline;
            border-radius: 4px;
            // gap: 10px;
            padding-inline-start: 0;
            fill: $svg-color;

            @include tablet {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            @include desktop {
                // display: flex;
                flex-direction: row;
                gap: 30px;
            }


            &-link {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;
                cursor: pointer;
                color: $link-color;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.02em;
            }

            &-link:focus,
            &-link:hover {
                fill: $button-color;
                color: $button-color;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }


    &__menu-toggle{
        padding: 0;
        background-color: transparent;
        border: none;

        &:hover,
        &:focus{
            fill:$button-color;
            cursor: pointer;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        @include tablet{
            display: none;
        }


    }

}


.link__now {
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    color: $button-color;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 16px;
    // letter-spacing: 0.02em;
    position: relative;
}




.underline__title::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    background: $button-color;
    height: 4px;
    // top: 52px;
    border-radius: 2px;
    
    @include tablet {
        top: 52px;
    }
    @include desktop {
        top: 46px;
    }
                
}