.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    border: 1px solid #ECECEC;

}

.header__flex {
    @extend .header__box;
    list-style-type: none;
    height: 80px;
    background-color: #fff;
    gap: 93px
}


.header__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 4px;
    gap: 46px;
    padding: 0;
    margin: 0;


}

.header__tel {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 4px;
    gap: 50px;
    padding-inline-start: 0;
    fill: $svg-color;


    &-link {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        cursor: pointer;
        color: $link-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }

    &-link:focus,
    &-link:hover {
        fill: $button-color;
        color: $button-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

// .link_tel {
//     text-decoration: none;
//     cursor: pointer;
//     color: var(--link-clolor);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;

// }

.link__now {
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    color: $button-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: relative;
}




.underline__title::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    background: $button-color;
    height: 4px;
    top: 45px;
    border-radius: 2px;
}