.section__listbuttons {
    padding-top: 94px;
    padding-bottom: 50px;

    .list__main {
        justify-content: center;
        gap: 15px;
    }
}
.button__portfolio {
    padding: 6px 22px 6px 22px;
    background-color: $background-color;
    border-color: $background-color;
    border-radius: 8%;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;

    &:focus,
    &:hover {
        color: #FFFFFF;
        background-color: $button-color;
        border-color: $button-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.portfolio__list-block{
    display: flex;   
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;  
    gap: 30px;


    &-tile {
        border: 1px solid #EEEEEE;
        padding: 0;
    }

}

.section__portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 94px;

}

.moving__box {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    // height:404px;

    &:hover {
        background: #FFFFFF;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }
    &-images {
        position: relative;
    }
}


.portfolio__inf-picture {
    background-color: #FFFFFF;
    padding: 20px 24px 20px 24px;
    transform: translatex(0);
    height: 90px;

    &-text {
        font-weight: 400px;
        font-size: 18px;
        line-height: 36px;
    }
    &-title{
        font-weight: 700;
         font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
    }
}


.overlay {
    position: absolute;
    top: 295px;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .moving__box:hover &{
        transform: translatey(-100%);
        overflow: hidden;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio__inf-picture-text {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        padding: 49px 45px 49px 25px; 
    }

}


