.team {
    display: none;

    background-color: $background-color;

    &-box {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
        height: 428px;
        width: 270px;
    }

    &-inf {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 164px;

    }

    &-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        padding: 5px;
    }

}

.socialmedia {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    gap: 10px;

    &__foto {
        padding: 12px;
    }

    &__link {
        fill: $svg-color;
        display: flex;
        cursor: pointer;
        border-radius: 100%;
        height: 44px;
        width: 44px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__li-part {
        height: 1px;
    }

    &__link:hover,
    &__link:focus {
        background-color: $button-color;
        fill: #FFFFFF;
        color: #fff;
    }
}